# Project exclude paths
/.idea/workspace.xml

/out/
/build/
/distrib/
/.gradle/

/lambda-test/build/**/*
/license-test/build/**/*
/locale-test/build/**/*
/machine-learning/build/**/*
/threading-test/build/**/*
/regex-test/build/**/*
/password-container/build/**/*
/string-test/build/**/*
/switch-test/build/**/*
/json-test/build/**/*
/run-exe-test/build/**/*
/dukpt-test/build/**/*
/signature-test/build/**/*
/signature-test/src/main/resources/keys/
/rxjava-test/build/**/*
/smallrye-test/build/**/*
/jaas-prj-01/**/*